.foot {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    background: none;
    color: #6e696e;
    margin: 7px;
}

.title {
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 14px;
    background: #99a7e5;
    color: #ffffff;
    margin: 7px;
}

.body {
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 14px;
    background: #c6d2e2;
    color: #ffffff;
    margin: 7px;
}

